version: '3'

services:
  ## DB
  db:
    image: mysql:8.1
    volumes:
      - ./db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
  ## wordpress      
  wordpress:
    build: ./backend
    depends_on:
      - db
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html/
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
  ## Nuxt
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    entrypoint: [ "node", ".output/server/index.mjs" ]
    volumes:
      - ./frontend/logs:/root/.npm/_logs
    depends_on:
      - wordpress
  ## NGINX
  proxy:
    build: ./nginx
    volumes:
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8080:80
    depends_on:
      - frontend
      - wordpress

volumes:
  db_data:


